.Intro{
  text-transform: capitalize;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  
}
body{
  background-color: rgb(167, 62, 238);
}
.search-box{
  align-items: center;
  text-align: center;
  width: 50%;
  padding: 30px;
  appearance: none;
  background: none;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0px 0px 16px 16px;
  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
  color: #313131;
  font-size: 20px;
  transition: 0.4s ease;
}
.Content{
  text-align: center;

}

.IconImage{
  height: 200px;
}
